@font-face {
  font-family: 'Pacifico';
  src:  asset-url('pacifico.eot');
  src:  asset-url('pacifico.eot?#iefix') format('embedded-opentype'),
        asset-url('pacifico.svg#icomoon') format('svg'),
        asset-url('pacifico.woff') format('woff'),
        asset-url('pacifico.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');
