html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Poppins', 'Raleway', sans-serif;
  overflow-x: hidden;
}
body {
  letter-spacing: 0.025rem;
}
main {
  flex-grow: 1;
}

.thr-no-padding {
  padding: 0;
}
// Buttons
.thr-btn {
  border: none;
  background: none;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  font-family: 'Raleway';
  font-weight: 600;
  color: $text-regular;
  text-align: center;
  letter-spacing: 0.075rem;
  border-radius: 0;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.thr-btn:hover {
  cursor: pointer;
  text-decoration: none;
}
.thr-btn:focus{
  outline: none;
}
.thr-btn-info {
  background-color: $info;
}
.thr-btn-info:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.thr-btn-primary {
  background-color: $primary;
  color: #FFFFFF;
}
.thr-btn-primary:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.thr-btn-fluid {
  width: 100%;
}

.hidden {
  display: none;
}

.responsive-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.responsive-img-container {
  max-height: 16rem;
  overflow: hidden;
}
