html, body {
  height: 100%;
}
body {
  letter-spacing: 0.025rem;
}
.thr-nav {
  font-family: 'Roboto';
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 9999;
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link {
    letter-spacing: 0.025rem;
    color: $text-regular;
  }
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: $primary;
  }
  .navbar-light .navbar-toggler {
    width: 100%;
  }
}

a.thr-logo {
  font-family: 'Pacifico';
  font-size: 3rem;
  padding-left: 5rem;
  color: $primary;
}

.thr-no-padding {
  padding: 0;
}

.thr-main-content {
  padding-top: 10.5rem;
}

.thr-footer {
  background-color: #F3F4F5;
  i {
    font-size: 2rem;
  }
  a {
    color: $text-regular;
  }
  a:hover {
    color: $primary;
  }
}

.form-control_extension {
  border-radius: 0;
}

// Buttons
.thr-btn {
  border: none;
  background: none;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  font-family: 'Roboto';
  font-weight: 600;
  color: $text-regular;
  text-align: center;
  letter-spacing: 0.075rem;
  border-radius: 0;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.thr-btn:hover {
  cursor: pointer;
}
.thr-btn:focus{
  outline: none;
}
.thr-btn-info {
  background-color: $info;
}
.thr-btn-info:hover {
  background-color: $primary;
  color: $info;
}
.thr-btn-primary {
  background-color: $primary;
  color: #FFFFFF;
}
.thr-btn-primary:hover {
  background-color: $info;
  color: $text-regular;
}
.thr-btn-fluid {
  width: 100%;
}
